<div class="row">
  <div class="col-md-6">
    <p class="borderwithText">Widgets Summary</p>
    <div class="widget-main"> 
      <table class="table">
      
        <tbody>
          <tr ng-repeat="widget in widgetDetailsList">
            <td style="width: 70%;">
              {{widget.name}}
            </td>
            <td class="text-right" style="width: 30%;">
              <button type="button" class="btn btn-info btn-sm" ng-click="goToDetails(widget.id)">Detail</button>
              <button type="button" class="btn btn-danger btn-sm" ng-click="openModal(widget)">Delete</button>
            </td>
          </tr>
        <p ng-if="widgetDetailsList.length === 0" class="nowidgetData"> No Widget Data Found.</p>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-success btn-sm mt-10" ui-sref="edit">Add Widget</button>
  </div>
  <div class="col-md-6">
    <ui-view></ui-view>
  </div>
</div>
