<div class="row">
  <uib-alert ng-repeat="alert in alerts" dismiss-on-timeout="{{alert.dt}}" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
    <div class="col-md-12">
      <p class="borderwithText"> {{isEdit ? 'Edit' : 'Add'}} {{isEdit ? widgetDetail.name : 'Widgets'}}</p>
      <div class="widget-main">
        <form class="form-horizontal" name="widgetForm" ng-submit="submit()" novalidate>
            <div class="form-group">
              <label class="control-label col-sm-2">Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Enter name" name="name" ng-model="widgetDetail.name" required>
                <!-- <p ng-show="widgetForm.name.$invalid && !widgetForm.name.$Dirty" class="help-block">Name is required.</p> -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Number:</label>
              <div class="col-sm-10">          
                <input type="number" class="form-control" placeholder="Enter number" name="number" ng-model="widgetDetail.number" only-digits>
              </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Key / Value Pairs:</label>
                <div class="col-sm-10">          
                  
                    <table class="table editTable">
      
                        <tbody>
                          <tr ng-repeat="pairs in widgetDetail.pairs">
                            <td class="numberCol">
                              {{$index+1}}
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Enter key" name="key" ng-model="pairs.key" required>
                            </td>
                            <td>
                                <input type="text" class="form-control" placeholder="Enter Value" name="value" ng-model="pairs.value" required>
                            </td>
                            <td class="text-right numberCol">
                              <button type="button" class="btn btn-info btn-sm addBtn" ng-click="addKeyValu()" ng-show="$last">+</button>
                              <button type="button" class="btn btn-danger btn-sm minBtn" ng-hide="widgetDetail.pairs.length === 1" ng-click="deletePairs($index)">-</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                </div>
              </div>

            <div class="form-group">        
              <div class="col-sm-offset-2 col-sm-10 text-right">
                <button type="button" class="btn btn-default btn-sm" ui-sref="detail">Cancel</button>
                <button type="submit" class="btn btn-info btn-sm" ng-disabled="widgetForm.$invalid">Save</button>
              </div>
            </div>
        </form>
      </div>
    </div>
</div>
